html, body {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding-top: 10px;
}

a{
  color: white;
  text-decoration-line: none;
}

a:hover{
  color: #EDC92C;
  text-decoration-line: none;
}

a:active{
  color: #EDC92C;
  text-decoration-line: none;
}

nav{
  background: #274261;
  font-size: 20px;
  border-radius: 40px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

footer{
  background: #274261;
  font-size: 18px;
  border-radius: 40px;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.paddingNav{
  padding-left: 30px;
  padding-top: 5px;
}

.styleClassic{
  color: white;
  text-decoration-line: none;
}

.styleTitle{
  font-weight: bold;
  color: #5C790E;
  text-align: center;
  font-size: 35px;
  padding-top: 3px;
}

.styleSubTitle{
  padding: 10px;
  font-size: 25px;
  text-align: center;
  color: #5C790E;
  padding-top: 3px;
}

.descripcion{
  color: #EDC92C;
  text-align: center;
  font-size: 17px;
}

.bordes{
  border-color: black;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  border-radius: 40px;
}

.bordesTitulo{
  border-color: black;
  border-width: 1px;
  border-style: solid;
  padding: 1px;
  border-radius: 250px;
}

.imagen{
  width: 40px;
  height: 40px;
  float: left;
  margin: 28px;
}

.contenido{
  margin: 20px;
}

.styleBorder{
  padding: 30px;
  text-align: justify;
}

.youtube{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.button{
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 15px;
  background-color: #5C790E;
  border-radius: 40px;
  float: center;
  margin: 10px;
}

.button:hover{
  background-color: #EDC92C;
  color: white;
}

.button:active{
  background-color: #EDC92C;
  color: white;
}

#logoNav{
  width: 60px;
  height: 59.5px;
}

#paginaActual{
  color: #EDC92C;
}

@media screen and (min-device-width: 310px) and (max-device-width: 560px){
  .styleTitle{
    font-weight: bold;
    color: #5C790E;
    text-align: center;
    font-size: 28px;
    padding-top: 3px;
  }

  .styleSubTitle{
    padding: 10px;
    font-size: 20px;
    color: #5C790E;
  }

  .imagen{
    display:none;
  }

  .imagenTitulo{
    display:none;
  }

  #logoNav{
    width: 45px;
    height: 45px;
  }
}
