html, body {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding-top: 10px;
}

a{
  color: white;
  text-decoration-line: none;
}

a:hover{
  color: #EDC92C;
  text-decoration-line: none;
}

a:active{
  color: #EDC92C;
  text-decoration-line: none;
}

nav{
  background: #274261;
  font-size: 20px;
  border-radius: 40px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

footer{
  background: #274261;
  font-size: 18px;
  border-radius: 40px;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.paddingNav{
  padding-left: 30px;
  padding-top: 5px;
}

.styleClassic{
  color: white;
  text-decoration-line: none;
}

.styleTitle{
  font-weight: bold;
  color: #5C790E;
  text-align: center;
  font-size: 35px;
  padding: 3px;
}

.styleSubTitle{
  padding: 10px;
  font-size: 25px;
  color: #5C790E;
}

.style2doSubTitle{
  padding: 3px;
  font-size: 20px;
  color: #5C790E;
}

.ecuaciones{
  padding: 10px;
}

.descripcion{
  font-size: 15px;
}

.bordes{
  border-color: black;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  border-radius: 40px;
  margin-top: 20px;
}

.bordesEcuaciones{
  border-color: black;
  border-width: 1px;
  border-style: solid;
  padding: 2px;
  border-radius: 40px;
  margin: 3px;
}

.bordesTitulo{
  border-color: black;
  border-width: 1px;
  border-style: solid;
  padding: 1px;
  border-radius: 250px;
  margin-bottom: 20px;
}

.imagen{
  width: 40px;
  height: 40px;
  float: left;
  margin: 15px;
}

.imgContenidoFijo{
  width: 30px;
  height: 30px;
}

.contenido{
  margin-left: 20px;
  margin-right:: 20px;
  margin-bottom: 20px;
}

.styleBorder{
  padding: 20px;
  text-align: justify;
}

.imagenElipse{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-width: 220px;
  max-width: 400px;
  padding: 10px;
  height: auto;
}

.imagenElipseVertical{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  width: auto;
  padding: 10px;
  min-height: 250px;
  max-height: 500px;
}

.imagenEcuaciones{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-width: 100px;
  max-width: 150px;
  padding: 10px;
  height: auto;
}

.button{
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 15px;
  background-color: #5C790E;
  border-radius: 40px;
  float: center;
  margin: 10px;
}

.button:hover{
  background-color: #EDC92C;
  color: white;
}

.button:active{
  background-color: #EDC92C;
  color: white;
}

/* Barra fija */

.contenidoEstatico {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	right: 0; /* Establecemos la barra en la izquierda */
	top: 200px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

.contenidoEstatico ul {
  list-style: none;
}

.contenidoEstatico ul li a {
  border-radius: 250px;
	display: inline-block;
	color:#fff;
	background: #000;
	padding: 10px 15px;
	text-decoration: none;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
}

.contenidoEstatico ul li .icon {
  background: #5C790E;
}

.contenidoEstatico ul li a:hover {
	background: #EDC92C; /* Cambiamos el fondo cuando el usuario pase el mouse */
	padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
}

#imagenElipse{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-width: 220px;
  max-width: 300px;
  padding: 10px;
  height: auto;
}

#negrita{
  font-weight: bold;
}

#infoAdicional{
  font-weight: bold;
  color: #EDC92C;
  text-align: center;
  font-size: 15px;
}

#botonActual{
  background-color: #EDC92C;
}

#logoNav{
  width: 60px;
  height: 59.5px;
}

#paginaActual{
  color: #EDC92C;
}
